$bg-color: #424242;
$hl-color: #2196F3;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 300px;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 50px;
    height: 42px;
    margin-left: 1rem;
}

.nav {
    margin: 0;
    max-width: 100%;
    min-width: 677px;
    background-color: grey;
    h2 {
        margin: 0;
        font-size: 40px;
        padding: 15px;
        text-align: left;
    }
}

.intro {
    p {
        margin-top: 1rem;
        text-align: center;
        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

.container {
    overflow: visible;
    max-width: 1300px;
    min-width: 677px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    small {
        font-size: 0.5em;
    }
}

.responsive-table {
    li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        margin-bottom: 25px;
    }
    .table-header {
        background-color: #95A5A6;
        display: flex;
        gap: 15px;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }
    .table-row {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
        height: 80px;
    }
    .col-1 {
        flex-basis: 30%;
    }
    .col-2 {
        flex-basis: 25%;
    }
    .col-3 {
        flex-basis: 10%;
    }
    .col-4 {
        flex-basis: 10%;
    }
    .col-5 {
        margin-left: 1rem;
        flex-basis: 10%;
    }
    .col-6 {
        flex-basis: 12.5%;
    }
}

.input-cntn {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 9rem;
    gap: 15px;
    .input {
        width: 300px;
    }
}

.btn {
    text-align: center;
}

button {
    margin: 20px;
    outline: none;
}

.input {
    background: none;
    color: black;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    max-width: $width !important;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $muted-color;
    &:focus {
        outline: none;
    }
    &:focus~label,
    &:valid~label {
        top: -14px;
        font-size: 12px;
        color: $hl-color;
    }
    &:focus~.bar:before {
        width: $width;
    }
}

input[type="password"] {
    letter-spacing: 0.3em;
}

label {
    color: $muted-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: $trans-time ease all;
}

.bar {
    position: relative;
    display: block;
    width: $width;
    &:before {
        content: '';
        height: 2px;
        width: 0;
        bottom: 0px;
        position: absolute;
        background: $hl-color;
        transition: $trans-time ease all;
        left: 0%;
    }
}

.custom-btn {
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.btn-1 {
    transition: all 0.3s ease;
}

.btn-1:hover {
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}

.btn-5 {
    background: #000;
    color: #fff;
    line-height: 42px;
    padding: 0;
    border: none;
    width: 300px;
}

.btn-5:hover {
    background: transparent;
    color: #000;
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}

.btn-5:before,
.btn-5:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #000;
    transition: 400ms ease all;
}

.btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.btn-6 {
    background: #000;
    color: #fff;
    line-height: 42px;
    padding: 0;
    border: none;
}

.btn-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-6:before,
.btn-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 2px;
    background: #000;
}

.btn-6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
}

.btn-6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
}

.btn-6:hover {
    color: #000;
    background: transparent;
}

.btn-6:hover:before {
    transition: all 500ms ease;
    height: 100%;
}

.btn-6:hover:after {
    transition: all 500ms ease;
    height: 100%;
}

.btn-6 span:before,
.btn-6 span:after {
    position: absolute;
    content: "";
    background: #000;
}

.btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: 2px;
    transition: all 500ms ease;
}

.btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    transition: all 500ms ease;
}

.btn-6 span:hover:before {
    width: 100%;
}

.btn-6 span:hover:after {
    width: 100%;
}